<template name="mapFooter">
    <div class="ui grid" id="map-footer" style="padding-bottom: 1em;">
        <div class="ui three wide column no-padding d-flex">
            <!--<div class="ui full-width segment">-->
            <!--<p>This shows how much power your roof can products</p>-->
            <!--</div>-->
        </div>
        <!--<div class="ui seven wide column no-padding d-flex">-->
        <!--<table class="ui small very celled padded unstackable table">-->
        <!--<thead>-->
        <!--<tr>-->
        <!--<th>Area Sqm</th>-->
        <!--<th>#Panels</th>-->
        <!--<th>Facing</th>-->
        <!--<th>Size</th>-->
        <!--<th>Capacity</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>-->
        <!--{{getArea}} Sqm-->
        <!--</td>-->
        <!--<td>-->
        <!--{{getPanelCount}}-->
        <!--</td>-->
        <!--<td>-->
        <!--NE-->
        <!--&lt;!&ndash;TODO:@Steve Add your Panel Facing Computation variable Here&ndash;&gt;-->
        <!--</td>-->
        <!--<td>-->
        <!--{{getSize}}kw-->
        <!--</td>-->
        <!--<td>-->
        <!--{{getCapacity}}-->
        <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->
        <div class="ui three wide column no-padding d-flex">
            <div class="ui full-width segment">
                <!--<div class="ui red header"><i class="warning circle icon"></i> Alert</div>
                <div class="description">
                    Alert Message
                </div>-->
            </div>
        </div>
        <div class="ui three wide column no-padding d-flex">

            <div class="ui full-width segment">
                <img class="right floated mini circular ui image" src="/assets/supportAvatar/kristy.png">

                <div class="description">
                    Speak to one of our...
                </div>
                <div class="extra content">
                    <a href="tel:1300786363">1300 786 363</a>
                </div>

            </div>

        </div>
    </div>


</template>
