<template name="mapHeader">
    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui menu">
            <a class="item" href="/">
                <img class="ui image" style="width:10em;" src="logo.png">
            </a>

            <div class="right menu">

                <!--<a class="item" href="">

                    <h1 class="ui icon grey header no-margin">
                        <div class="content">
                            <div class="sub header">Estimated Cost</div>
                            {{getEstimatedCost}}
                        </div>
                    </h1>
                </a>
                <a class="item yellow-bg ui center aligned">

                    <h1 class="ui icon header no-margin">
                        <div class="content">
                            <div class="sub header">Estimated Saving</div>
                            ${{getEstimatedSavings}}

                        </div>
                    </h1>
                </a>-->

                <a class="item ui contactForm button">
                    <button class="fluid ui positive button">Call us now<i
                            class="angle double right icon"></i></button>
                    <h5 class="ui center aligned header">

                    </h5>
                </a>
            </div>
        </div>
    </div>
    {{> contactForm}}
</template>
